<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="top-wrapper">
      <% if session[:user_id] %>
        <%= @current_user.id %>
      <% end %> 
      <div class="top-image">
        <img src="<%= "/top_image/title.jpg" %>">
      </div>
      <ul class="top-menu">
        <li>
          <%= link_to("Home", "/")%>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("ニキビ連合軍とは", "/about") %>
        </li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <li>
          <%= link_to("ログアウト", "/logout/really") %>
        <li>
        <li>
          <%= link_to("マイページ",) %>
        </li>
      </ul>
    </div>
    <% if flash[:notice] %>
      <div class="flash-message">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </header>
    <%= yield %>
  </body>
</html>
