<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="top-wrapper">
      <div class="top-image">
        <img src="<%= "/top_image/title.jpg" %>">
      </div>
      <ul class="top-menu">
        <li>
          <%= link_to("Home", "/")%>
        </li>
        <li>
          <%= link_to("投稿一覧", "") %>
        </li>
        <li>
          <%= link_to("ニキビ連合とは", "/about")%>
        </li>
        </li>
      </ul>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
