<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
    <div class="top-wrapper">
      <div class="top-image">
        <img src="<%= "/top_image/title.jpg" %>">
      </div>
      <ul class="top-menu">
        <li>
          <%= link_to("Home", "/")%>
        </li>
        <li>
          <%= link_to("ニキビ連合軍とは", "/about") %>
        </li>  
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <% if @current_user %>
        <li>
          <%= link_to("ログアウト", "/logout/really") %>
        </li>
        <% else %>
        <li>
          <%= link_to("新規登録", "/signup") %>
        </li>
        <li>
          <%= link_to("ログイン", "/login") %>
        </li>
        <% end %>
      </ul>
    </div>
    <% if flash[:notice] %>
      <div class="flash-message">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="login_information">
      <% if @current_user %>
        <P class="current_user_name">現在ログイン中のユーザー:  <%= @current_user.name %></p>
        <div class="link_to_my_page">
          <%= link_to("マイページ", "/users/#{@current_user.id}") %>
        </div>
      <% end %> 
    </div> 
  </header>
    <%= yield %>
  </body>
</html>
